
/* Base Styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:500,600,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body,
h1, 
h2, 
h3, 
h4,
p,
ul {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

:focus {
	outline: none;
	box-shadow: 0 0 0 0.25rem $themeColor;
}

::-moz-selection {
	background-color: $themeColor;
	color: #fff;
}

::selection {
	background-color: $themeColor;
	color: #fff;
}

::-webkit-scrollbar {
	width: 1.2rem;
}

::-webkit-scrollbar-track {
	background-color: darken($themeColor, 20%);
}

::-webkit-scrollbar-thumb {
	background-color: $themeColor;
	border-radius: 0.5rem;
	border: 0.2rem solid darken($themeColor, 20%);
}

body {
	font-family: $roboto;	
	color: #111;
	line-height: normal;
}

p {
	font-size: 2rem;
	line-height: 1.8;
}

a {
	display: inline-block;	
	color: #000;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
	transition: color 300ms;

	&:hover, &:focus {
		color: darken($themeColor, 8%);
	}
}

.external-icon {
	&::before {
		font-size: 0.55em;
		vertical-align: top;
		padding-left: 0.25em;
	}
}