
/* Contact Section */

@include colorSocialLinks;

.contact-section {

	.section {

		&-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}

		&-heading {
			flex-basis: 100%;
		}
	}
}

/* Map Sub-Section */

.map {

	display: flex;
	height: 24em;
	border: 0.1em solid $borderColor;
	border-radius: 0.5em;
	margin: 0 auto 5em;

	span {
		font-size: 2rem;
		font-weight: 700;
		margin: auto;
	}

	&-container {
		flex-basis: 80%;
	}
}

/* Email Sub-Section */

.email {	

	&-container {
		flex-basis: 50%;
		margin-bottom: 5em;
	}

	&-link {
		font-size: 2.5em;
	}
}

/* Social Sub-Section */

.social {

	&-container {
		flex-basis: 50%;
	}

	&-links {
		display: flex;
		justify-content: center;
		list-style: none;

		li {
			font-size: 3rem;	
			border-right: 0.035em solid $borderColor;
			margin-bottom: 0.35em;

			&:last-child {
				border-right: none;
			}
		}

		a {			
			padding: 0 0.4em;
			transition: color 300ms ease, 
						transform 500ms cubic-bezier(0.13, 0.43, 0.54, 1.82), 
						text-shadow 500ms ease-out;
			
			&:hover {
				text-shadow: 0.032em 0.032em 0.032em rgba(0, 0, 0, 0.5);
				transform: scale(1.1);
			}
		}
	}
}