
/* Header Styles */

.main-header {
	height: 100vh;
}

.video {

	&-bg {
		position: fixed;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -10;
		background-color: #181818;

		&::-webkit-media-controls {
			display: none !important;
		}
	}

	&-overlay {
		font-family: $montserrat;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;  
		position: absolute;
		top: 0;
		height: 100vh;
		width: 100%;
		color: #fff;
		background-color: rgba(0,0,0,0.7);    
		border-top: 0.6em solid $themeColor;
		letter-spacing: 0.1em;

		h1 {
			font-size: calc(3em + 2.5vw);
			font-weight: 700;
			text-shadow: 0.04em 0.04em 0.015em rgba(0, 0, 0, 0.5);
			animation: fadeInUp 1s both;
		}

		h2 {
			font-size: calc(1.5em + 1.5vw);
			font-weight: 600;
			margin-top: 0.5em;
			text-shadow: 0.06em 0.06em 0.03em rgba(0, 0, 0, 0.5);
			animation: fadeInUp 1s 380ms both;
		}
	}
}

.skip-link {
	font-size: 1.8rem;
	font-weight: 600;
    position: absolute !important;
	top: 2em;
	left: 50%;
    height: 1px;
	width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
	padding: 0.8em 1em;
	color: #fff;
	z-index: 5;
	text-decoration: none;
	transform: translateX(-50%);

	&:focus {
		position: static;
		width: auto;
		height: auto;
		clip: auto;
		color: #fff;
	}
}

.learn-more-link {
	position: absolute;
	left: 50%;
	bottom: 1em;
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 1.6;
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
	transform: translateX(-50%);
	transition: color 300ms ease;

	&:hover, 
	&:focus {
		color: rgba(255, 255, 255, 0.8);
	}

	.fa {
		font-size: 1.2em;
		animation: bounce 500ms infinite alternate;
	}
}