
/* Media Queries */

@media screen and (max-width: 58em) {

	.main-header {
		background: url(/../images/header_bg.jpg) no-repeat center;
		background-size: cover;
	}

	.video-bg {
		display: none;
	}	
}

@media screen and (max-width: 33em) {

	.email-link {
		font-size: 2.2rem;
	}

	.social-links li {
		font-size: 2.5rem;
	}

	.hosting-info {
		font-size: 1.4rem;
	}
}