
/* Section Styles */

.section {

	&-container {
		max-width: 120em;
		padding: 5em 1.5em;
		margin: 0 auto;
	}

	&-light {
		background-color: #fcfcfc;
	}	

	&-dark {
		background-color: #eee;
		border-top: 0.1em solid $borderColor;
		border-bottom: 0.1em solid $borderColor;	
	}
	
	&-heading {
		font-size: 3rem;
		margin-bottom: 0.72em;
		text-align: center;
	}

	&-sub-heading {
		font-size: 1.8rem;
		margin-bottom: 1.4em;
		text-align: center;

		&::after {
			content: ':';
		}
	}
}