
/* Section Styles */

.section {

	background-color: $sectionColor;	

	&-container {
		max-width: 120em;
		padding: 5em 1.5em;
		margin: 0 auto;
	}
	
	&-heading {
		font-size: 3rem;
		margin-bottom: 0.72em;
		text-align: center;
	}

	&-sub-heading {
		font-size: 1.8rem;
		margin-bottom: 1.4em;
		text-align: center;

		&::after {
			content: ':';
		}
	}
}