
$themeColor: #4c3a68;

$borderColor: #ccc;

$socialColors: (
    facebook: #3b5998,
    twitter: #55acee,
    instagram: #e95950,
    linkedin: #007bb5,
    github: #24292e,
    codepen: #000
);

$arial: Arial, sans-serif;

$roboto: Roboto, #{$arial};

$montserrat: Montserrat, #{$arial};