.page-footer {
  padding: 1.5em 0;
  background-color: $black;

  .social-links {
    display: flex;
    justify-content: center;

    &__link {
      display: block;
      color: transparentize($white, 0.5);
      padding: 0.5em 1.2em;
      transition: color 200ms;

      &:hover,
      &:focus {
        color: $white;
      }
    }

    &__icon {
      width: 2.5em;
      height: 2.5em;
      filter: drop-shadow(0 0 0.2em rgba(0, 0, 0, 0.4));
    }
  }
}
