.page-footer {
  padding: 1.5em 0;
  background-color: $black;

  .social-links {
    display: flex;
    justify-content: center;

    &__link {
      display: block;
      font-size: 2.5em;
      color: transparentize($white, 0.5);
      padding: 0.2em 0.5em;
      transition: color 200ms;

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }
}