.portfolio {
  &-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1.8em;

    &__btn {
      font-size: 1.6em;
      box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.25);

      @media screen and (min-width: 800px) {
        font-size: 1.8em;
      }
    }

    @media screen and (min-width: 800px) {
      gap: 1.8em;
    }
  }

  &-gallery {
    display: grid;
    grid-gap: 2em;
    min-height: 68em;
    padding-bottom: 5em;

    @media screen and (min-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
      // grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    }
  }

  &-item {
    display: none;
    position: relative;
    height: 30em;
    border-radius: 0.5em;
    border: 0.1em solid #333;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #222;
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5em;
      height: 5em;
      border-radius: 50%;
      border: 0.5em solid #fff;
      border-top-color: transparent;
      transform: translate(-50%, -50%) rotate(0deg);
      z-index: -1;
      animation: loader 0.6s linear infinite;
    }

    &:hover,
    &:focus-within {
      .portfolio-item__info {
        opacity: 1;
      }

      .portfolio-item__image,
      .portfolio-item__video {
        transform: scale(1.15);
      }
    }

    &__image,
    &__video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 300ms ease-out;
    }

    &__info {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      background-color: rgba(8, 8, 8, 0.95);
      padding: 2em;
      opacity: 0;
      transition: opacity 180ms ease-out;

      &-title {
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1.4;
      }

      &-desc {
        font-size: 1.6em;
        line-height: 1.6;
        margin: 1em 0;
        max-width: 30em;
      }

      &-btn {
        font-size: 1.55em;
        border: 0.1em solid #fff;
        padding: 0.7em 1em;
        z-index: 1;

        &::after {
          content: '';
          position: absolute;
          inset: 0;
        }
      }
    }

    &.show-item {
      display: block;
      animation: fadeIn 300ms ease-out;
    }
  }
}