.portfolio {
    &-filter {
        display: flex;
        flex-wrap: wrap;

        &__btn {
            font-size: 1.8em;
            margin-right: 1em;
            margin-bottom: 1em;
        }
    }

    &-gallery {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        min-height: 62em;
        margin-bottom: 3em;

        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        display: none;
        position: relative;
        height: 30em;
        border-radius: 0.5em;
        border: 0.1em solid #ddd;
        text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
        overflow: hidden;

        &:hover,
        &:focus-within {
            .portfolio-item__info {
                opacity: 1;
            }

            .portfolio-item__image {
                transform: scale(1.15);
            }
        }

        &__link {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 300ms ease-out;
        }

        &__info {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
            color: #fff;
            background-color: rgba(8, 8, 8, 0.95);
            padding: 2em;
            opacity: 0;
            transition: opacity 180ms ease-out;

            &-title {
                font-size: 2.5em;
                font-weight: 600;
                line-height: 1.4;
            }

            &-desc {
                font-size: 1.6em;
                line-height: 1.6;
                margin: 1em 0;
                max-width: 30em;
            }

            &-btn {
                font-size: 1.55em;
                border: 0.1em solid #fff;
                padding: 0.7em 1em;
                z-index: 1;
            }
        }

        &.show-item {
            display: block;
            animation: fadeIn 300ms ease-out;
        }
    }

    &-view-more {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 3em;

        &__btn {
            font-size: 1.8em;
            min-width: 13.8em;
            margin: 0.5em;
        }
    }
}
